<h2 class="page-title">おさんぽ記録 一覧</h2>
<p class="page-subtitle">過去のおさんぽの記録が新しい順に並びます。</p>

<p>
  <%= link_to "＋ 新しいおさんぽ記録を追加", new_tweet_path, class: "btn btn-primary" %>
</p>

<div class="tweet-list">
  <% @tweets.each do |tweet| %>
    <article class="tweet-card">
      <div class="tweet-main">
        <%= link_to tweet.subject, tweet_path(tweet), class: "tweet-title-link" %>

        <% if user_signed_in? && tweet.user_id == current_user.id %>
          <p class="tweet-meta tweet-meta-own">投稿者：<%= tweet.user.nickname %></p>
        <% else %>
          <p class="tweet-meta">投稿者：<%= tweet.user.nickname %></p>
        <% end %>

        <p class="tweet-meta">📅 <%= tweet.activity_date %></p>
      </div>

      <% if tweet.images.attached? %>
        <div class="tweet-images">
          <% tweet.images.first(10).each do |image| %>
            <% begin %>
              <%= image_tag image, class: "tweet-thumbnail" %>
            <% rescue ActiveStorage::FileNotFoundError %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="tweet-images">
          <span class="tweet-meta">写真なし</span>
        </div>
      <% end %>
    </article>
  <% end %>
</div>
