<div class="show-header">
  <h1 class="show-title"><%= @tweet.subject %></h1>
  <div>
    <span class="show-poster">🐾 <%= link_to @tweet.user.nickname, "/users/#{@tweet.user_id}" %></span>
    <span class="show-date">📅 <%= @tweet.activity_date %></span>
  </div>
</div>

<% if @tweet.images.attached? %>
  <div class="show-gallery">
    <% @tweet.images.first(10).each do |image| %>
      <% begin %>
        <%= image_tag image %>
      <% rescue ActiveStorage::FileNotFoundError %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="show-body">
  <%= simple_format(@tweet.text) %>
</div>

<div class="show-meta-grid">
  <div class="show-meta-item">
    <span class="show-meta-label">カテゴリー</span>
    <span class="show-meta-value"><%= @tweet.category.name %></span>
  </div>
  <div class="show-meta-item">
    <span class="show-meta-label">時間</span>
    <span class="show-meta-value"><%= @tweet.duration.name %></span>
  </div>
  <div class="show-meta-item">
    <span class="show-meta-label">強度</span>
    <span class="show-meta-value"><%= @tweet.intensity.name %></span>
  </div>
  <div class="show-meta-item">
    <span class="show-meta-label">評価</span>
    <span class="show-meta-value"><%= @tweet.rating.name %></span>
  </div>
</div>

<div class="comment-section">
  <h4 class="comment-section-title">💬 コメント</h4>

  <div class="comment-form">
    <% if user_signed_in? && @tweet.user_id != current_user.id %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントを書く…", rows: 2, class: "comment-textarea" %>
        <%= form.submit "SEND", class: "comment-submit" %>
      <% end %>
    <% else %>
      <p class="comment-login-notice">※ コメントの投稿には新規登録 / ログインが必要です</p>
    <% end %>
  </div>

  <div class="comments-list">
    <% @comments.each do |comment| %>
      <div class="comment-item">
        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
        <%= comment.text %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "← 一覧へ戻る", tweets_path, class: "show-back-link" %>
