<h2><%= @user.nickname %> さんのページ</h2>

<h3>おさんぽ記録一覧</h3>
<ul class="user-tweets">
  <% @tweets.each do |tweet| %>
    <li class="user-tweet">
      <% if tweet.images.attached? %>
        <div class="tweet-images">
          <% preview = tweet.images.first(4) %>
          <% preview.first(3).each do |image| %>
            <% begin %>
              <%= image_tag image, class: "tweet-thumbnail" %>
            <% rescue ActiveStorage::FileNotFoundError %>
            <% end %>
          <% end %>
          <% if preview.size == 4 %>
            <span class="tweet-more-badge">+<%= tweet.images.count - 3 %></span>
          <% end %>
        </div>
      <% end %>

      <div class="tweet-body">
        <strong><%= link_to tweet.subject, tweet_path(tweet) %></strong><br>
        日付: <%= tweet.activity_date %><br>
        内容: <%= tweet.text %>
      </div>
    </li>
  <% end %>
</ul>
