<h2><%= @user.nickname %> さんのページ</h2>

<h3>おさんぽ記録一覧</h3>
<ul class="user-tweets">
  <% @tweets.each do |tweet| %>
    <li class="user-tweet">
      <div class="tweet-images">
        <% if tweet.images.attached? %>
          <% tweet.images.each do |image| %>

    <%# 古いサーバー上にしかなかった画像は、いまのサーバーには無いのでスキップ %>
    <% begin %>


  <%= image_tag image, class: "tweet-image" %>

  <% rescue ActiveStorage::FileNotFoundError %>
    <% end %>
     <%# 古いサーバー上にしかなかった画像は、いまのサーバーには無いのでスキップ %>


          <% end %>
        <% end %>
      </div>

      <div class="tweet-body">
        <strong><%= link_to tweet.subject, tweet_path(tweet) %></strong><br>
        日付: <%= tweet.activity_date %><br>
        内容: <%= tweet.text %>
      </div>
    </li>
  <% end %>
</ul>
